<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to MobSense</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
     <!--
     <link href="/stylesheets/vendor/bootstrap/carousel.css" rel="stylesheet"> 
     -->
  </head>


  <body>
    <div id = 'frontpage' class='jumbotron'>
        <div class='container'>
            <h1 class='mainheader'>Simple Mobile Data</h1>
            <p>MobSense is a data collection and visualization framework for mobile devices.</p>
            
            
            

              
            
            <form id= 'mainsignup' class="navbar-form navbar-left" role="form">

                <div class="form-group">
                  <input id= 'email-signup' type="text" placeholder="Email" class="form-control" data-bind="value: email">
                </div>
                <div class="form-group">
                  <input id= 'pass-signup' type="password" placeholder="Password" class="form-control" data-bind="value: pass">
                </div>

                <div class="form-group" >
                  <button id= 'button-signup' data-bind="click: submit" type="submit" class="form-control btn-primary">Sign up now</button>
                </div>
            </form>
        </div>
                  
    </div>                         



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      
      <!-- Three columns of text below the carousel -->

		<div class="container">

			<!-- Two columns play store app store  -->
			<div style="margin-top: -32px;">

                                
                                
                <br><br>
				<p class="col-md-6 text-center play-store" style="margin-top: 32px; margin-bottom: 32px;">
						
					<a href="https://play.google.com/store/apps/details?id=com.streamn.mobilesense">
						<img class="play-store" src="./images/playstore.png">
					</a>
				
				
				</p>
				
				<p class="col-md-6 text-center" style="margin-top: -8px; margin-bottom: 32px;">
				<br><br>
				
					
					<a href="https://itunes.apple.com/us/app/mobsense/id1123464493?ls=1&mt=8">
						<img class="play-store" src="./images/appstore.png">
					</a>
					
				</p>
				
			</div>

		</div>
		<!-- /.row -->

		<div class="container">

			<!-- Two columns play store app store  -->
			<div style="margin-top: -32px;">
				<p class="col-md-6 text-center play-store" style="margin-top: 48px; margin-bottom: 0px;">

				</p>

				<p class="col-md-6 text-center" style="margin-top: 48px; margin-bottom: 0px;">
				</p>
			</div>

		</div>
      
      
      <!-- Three columns of text below the carousel -->

      <div class="row" style = 'margin-top: -32px; margin-bottom: -64px;'>

        
        <div class="col-md-4 text-center">
          <img src="/images/mobiledevice.png">
          <h2 style='color: #348eda;' >Mobile</h2>
          <p>Collect data from your mobile phone easily. Enumerate sensors on your device, choose which data to visualize and save.</p>

        </div>
        
        <div class="col-md-4 text-center">
          <img src="/images/graph.png">
          <h2 style='color: #348eda;' >Sensing</h2>
          <p>Collect accelerometer, magnetometer, and gyroscope data using the MobSense mobile app, or embed custom code in your own application.</p>

        </div>


        <div class="col-md-4 text-center">
          <img src="/images/laptop.png">
          <h2 style='color: #348eda;' >Software</h2>
          <p>Download saved data for offline processing using software of your choice e.g. python, MATLAB, etc.</p>

        </div>
      </div><!-- /.row -->
      

      <div class="row featurette">


      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

	  <br>
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#welcome">Back to top</a></p>
        <p>&copy; 2016 Stream^N, Inc. &middot; <a href="#privacy">Privacy</a> &middot; <a href="#terms">Terms</a></p>
      </footer>

    </div><!-- /.container -->






  </body>
</html>    
    
     


